.footer {
  display: flex;
  flex-direction: column;
  background-color: #282945;
  color: white;
}

.footer__contents {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

  padding: 100px 50px 50px;
  /* align-items: center; */
  background-color: #101130;
  color: rgba(255, 255, 255, 0.95);
} 
.social,
.useful__links,
.getin__touch,
.terms__condition {
  margin-bottom: 20px;
  text-align: left;
}
.links__list > li {
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 1px solid  rgb(237,108,17);
  transition: all .3s ease-in;
}
.links__list > li:hover{
    color:  rgb(237,108,17);
    cursor: pointer;
}

.contact__list > li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.social__icons > .MuiSvgIcon-root {
  background-color: rgb(55,56,81);
  margin: 20px 10px 0px 0px;
  padding: 10px;
  font-size: 18px;
  transition: transform 0.5s ease-in-out;
}
.social__icons > .MuiSvgIcon-root:hover {
  background-color: rgba(59, 123, 206, 0.562);
  transform: rotate(360deg);
}
.footer__info {
  margin: 20px 0px;
}
.footer__header {
  text-transform: capitalize;
  margin-bottom: 30px;
}
.last__footer {
  padding: 20px;
}
