.videosection {
  position: relative;
  background-repeat: no-repeat;
  padding: 150px 0 140px;
  z-index: -2;
}

.videosection::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #448414;
  opacity: 0.7;
  z-index: -1;
}
.video__contents {
  z-index: 1;
}
.videosection__header {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 25px;
}
